# Ignore virtual env
venv/

# Ignore mlflow modules
mlruns/
mlartifacts/
tennis-forecast-ensemble/
.vscode/

# Ignore python files
__pycache__/
*.pyc
*.pyo
*.pyd
*.dist-info/
*.egg-info/

# Ignore images
*.jpg
*.jpeg
*.png
*.gif

# Ignore temporal files
*.log
*.tmp
*.bak
*.swp
*.ipynb_checkpoints/
.DS_Store

# Ignore data
data/*